<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Курсы программирования</title>
<!-- Подключаем внешнюю таблицу стилей -->
<link rel="stylesheet" href="/static/css/style.css">
<!-- Подключаем локальную библиотеку marked.js для поддержки Markdown -->
<script src="/static/js/marked.min.js"></script>
</head>
<body>
<div id="content-area">
<div class="main-header">Система адаптированной выдачи задач в курсах программирования</div>
<div class="test-list"><h1>Загрузка тестов...</h1></div>
</div>
<div class="footer"></div>
<!-- Подключаем внешний JS -->
<script src="/static/js/script.js"></script>
</body>
</html>
